<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showNavbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Employee Manager</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse push-right-lg" id="navbarColor02" *ngIf="auth.isLoggedIn()">
      <ul class="navbar-nav d-flex">
        <li class="nav-item me-2">
          <input type="text" class="form-control form-control-sm" placeholder="Search employees..."
                 [(ngModel)]="searchTerm" (input)="onSearchChange()" style="width:200px;">
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm" (click)="auth.logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>