<section class="vh-100">
  <div class="card-login">
    <h3>SIGN IN TO YOUR ACCOUNT</h3>
    <form (ngSubmit)="login()">
      <div>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username"
          required />
      </div>

      <div>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password"
          required />
      </div>
      
      <div *ngIf="credFailed" class="text-danger">
        {{loginError}}
      </div>

      <button type="submit" class="btn-login">SIGN IN</button>
    </form>
    <div class="register-link mt-3">
      <p>Not a member? <a class="register-text" routerLink="/register">Register</a></p>
    </div>
  </div>
</section>